body{
    color:#0e0f0f;
    margin:0;
    text-align: center;
    font-family: 'Merriweather',serif;
    font-size: 200%;
}
h1{
    font-size: 5.2rem;
    margin: 50px auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #201416;
    line-height: 2;
}
h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    color: #381e22;
    font-weight: bold;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat',sans-serif;
    color: #740e30;
    font-size: 2rem;
}
.top-container{
    background-color: #a18289;
    position: relative;
    padding-top: 10px;
}

.footer-link{
    color:#a18289;
}
.course-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: center;
    line-height: 2;
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: center;
    line-height: 2;
}
.middle-container{
    margin:100px 0;
}
.bottom-container{
    background-color: #201416;
    padding: 50px 0 20px;
}
.intro{
    width:30%;
    margin:auto;
}
p{
    line-height: 2;
    font-size: 1.5rem;
}
hr{
    border: dotted rgb(14, 13, 13) 6px;
    border-bottom: none;
    width:4%;
    margin:90px auto;
}
.contact-intro{
    width:40%;
    margin:40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #660e24, #740e30);
    background-image: -moz-linear-gradient(top, #660e24, #740e30);
    background-image: -ms-linear-gradient(top, #660e24, #740e30);
    background-image: -o-linear-gradient(top, #660e24, #740e30);
    background-image: linear-gradient(to bottom, #660e24, #740e30);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #8a2c2c, #8f2d2d);
    background-image: -moz-linear-gradient(top, #8a2c2c, #8f2d2d);
    background-image: -ms-linear-gradient(top, #8a2c2c, #8f2d2d);
    background-image: -o-linear-gradient(top, #8a2c2c, #8f2d2d);
    background-image: linear-gradient(to bottom, #8a2c2c, #8f2d2d);
    text-decoration: none;
  }
a{
    color:#740e30;
    font-family: 'Montserrat',sans-serif;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
}